<div class="container">
    <div class="container">
        <div class="text-center">
            <img class="img-fluid rounded mx-auto d-block photo" src="assets/user.png" alt="no image found" />
        </div>
        <!-- <div class="mt-3"> -->

            <div class="h-100 d-flex align-items-center justify-content-center mt-3">
                <div>
                    <h1>ID :        {{userdata.id}}</h1>
                    <h1>Name :      {{userdata.name}}</h1>
                    <h1>Email :   {{userdata.email}}</h1>
                    <h1>Phone :    {{userdata.phone}}</h1>
                </div>
              </div>
    </div>
</div>